@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html{
  font-size: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: Poppins, sans-serif;
}

.container{
  width: 90%;
  margin: 1rem auto;
}