:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

*{
    box-sizing: border-box;
    padding: 0;
}

body::-webkit-scrollbar{
 width: 0.25rem;  /* Removes the scroll bar from the page */
}

body::-webkit-scrollbar-track{
    background: #1e1e24; /* Changes The color of the scroll track*/
}

body::-webkit-scrollbar-thumb{
    background: #6649b8; /* Changes the color of the scroll thumb*/
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

/*  Navbar Start */

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  /* transition: width 600ms ease; */
  /* overflow: scroll; */
}

.navbar-nav {
  list-style: none;
  /* padding: 0;
  margin: 0; */
  display: flex;
  flex-direction: column;
  align-items: center; 
   height: 100%;
}

 
.nav-item{
    width: 100%;
} 

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}
