@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

main{
    margin-top: 60px;
    text-align: center;
}

h1{
    color:hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 10px;
}

h1 strong{
    color: hsl(209, 33%, 12%);
}

h2{
    font-weight: 300;
}

