@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");
:root {
  --dark-voilet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
  font-family: "Karla", sans-serif;
}
h1,
h2,
h3,
h3 {
  font-family: "DM Serif Display", serif;
}

.btn{
    border: 2px solid #fff;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    
}

.btn-reversed{
      border: 2px solid var(--dark-voilet);
    color:var(--dark-voilet);
}
.container{
    margin: 0 auto;
    max-width: 100%;
    width: 95%;
    padding:20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flex > div {
    flex:1;
}


nav{

}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav li{
    margin-left: 30px;
}
nav ul a {
    text-decoration: none;
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 3px;
}
header{
background-color: var(--dark-voilet);
color: #fff;
}

section{

}

footer{

}