@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");
:root {
  --dark-voilet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla", sans-serif;
}
h1,
h2,
h3,
h3 {
  font-family: "DM Serif Display", serif;
}

h1,
h2 {
  position: relative;
  margin: 0;
  padding-top: 50px;
  font-size: 4rem;
  letter-spacing: 2px;
}
h3 {
  font-size: 2rem;
}
p {
  opacity: 0.8;
  font-size: 16px;
}
h1::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 150px;
}

.line-top::before {
  content: "";
  background-color: var(--dark-grayish-violet);
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 150px;
}

.btn {
  border: 2px solid #fff;
  padding: 15px 25px;
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
}

.btn-reversed {
  border: 2px solid var(--dark-voilet);
  color: var(--dark-voilet);
}
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1090px;
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex > div {
  flex: 1;
}
.align-start {
  align-items: flex-start;
}
nav {
  /* position: fixed; */
  z-index: 100;
  background-color: #fff;
  width: 100vw;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav li {
  margin-left: 30px;
}
nav ul a {
  text-decoration: none;
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: 3px;
}
header {
  position: relative;
  background-color: var(--dark-voilet);
  color: #fff;
  padding: 50px 0;
  margin-bottom: 250px;
}

header::after {
  content: "";
  background-image: url(./images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 2;
}
header::before {
  content: "";
  position: absolute;
  background-image: url(./images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  bottom: -60%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.header-image {
  margin-bottom: -250px;
  padding-left: 2rem;
}

.bg-violet {
  background-color: var(--dark-voilet);
  padding: 50px;
  position: relative;
  margin: 100px auto;
}

.bg-violet::before {
  content: "";
  position: absolute;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.bg-violet h2 {
  padding: 0;
  font-size: 3rem;
  width: 60%;
  color: white;
}
.tiles {
  margin-top: 50px;
  padding: 0 20px;
}
.tiles:first-child {
  padding-left: 0;
}
footer {
}
