@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  text-align: center;
  font-family: Montserrat;
}
* {
  box-sizing: border-box;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
section h1 {
  text-align: left;
  margin-right: 4rem;
}
section button {
  padding: 10px;
  font-size: 1rem;
  font-family: Montserrat;
}

.link-container {
  display: flex;
  justify-content: space-around;
}
.link-container a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(109, 91, 91);
  padding: 1rem;
  border-radius: 20px;
}

@media screen and (min-width: 1000px) {
  section {
    padding: 0 5rem;
  }
}
